body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background: #f07167;
    background-size: cover;
}

.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    
}

.box h2{
    margin : 0 0 30px;
    padding: 0;
    text-align: center;
    color:#fff;
    font-size: 20px;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input[type="text"],input[type="password"]{
    width:100%;
    padding : 10px 0;
    font-size: 16px;
    color:#fff;
    margin-bottom: 30px;
    letter-spacing: 2;
    border:none;
    border-bottom:1px solid white;
    outline:none;
    background: transparent;
}

.box .inputBox input[type="password"]{
    width:100%;
    padding : 10px 0;
    font-size: 16px;
    color:#fff;
    margin-bottom: 30px;
    letter-spacing: 2;
    border:none;
    border-bottom:1px solid white;
    outline:none;
    background: transparent;
    -webkit-text-security:none;
}
.password-toggle{
    border:none;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding : 10px;
    letter-spacing: 2;
    font-size: 16px;
    color:#fff;
    pointer-events: none;
    transition: .5s;

}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top : -18px;
    left: 0;
    color: #03a9f4;
    font-size: 18px;
   
}


.box input[type="submit"]{
    background:transparent;
    border:none;
    outline: none;
    color:#fff;
    background: #f07167;
    padding:10px 20px;
    cursor:pointer;
    border-radius: 5px;
    width: 320px;
    
}



.password-toggle{
    width: 50px;
    height: 50px;
    top: 120px;
    position: absolute;
    right: 5px;
    z-index: 1;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}


.toggle-eye.close{
    transition: 0.4s all ease-in-out;

}

.toggle-eye.open{
    transition: 0.4s all ease-out;
}

.toggle-eye{
    position: absolute;
    top: 170px;
    right: 40px;
    font-size: 22px;
    color:#fff;
}

.password-toggle:checked ~ input[type="password"]{
    -webkit-text-security:circle;
    
}
.password-toggle:checked ~ .toggle-eye.close{
    opacity: 0;
}

a{
    text-decoration: underline;
    color:white;
    font-size: 15px;

}
p{
    color:white;
    margin-left: 10%;
    margin-top:25px;
    font-size: 15px;
}

.box .social{
    display: flex;
    margin-top: 30px;
    align-self: center;
    font-size: 30px;
    flex-direction: row;
    justify-content: center;
    align-content:space-between;
    color: #03a9f4;
    cursor: pointer;
}

.box .social .gmail{
    color: rgb(219, 55, 55);
    margin-left: 10px;
    margin-right: 10px;
}
.box .social .fb, .linkedIn{
    color: rgb(34, 34, 133);
}
